<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock title %}</title>
		{% block scripts %}{% endblock scripts %}
	</head>
	<body>
		<nav>
			<a href="/problems">problems</a> |
			<a href="/questions">questions</a> |
			<a href="/api/logout" onclick="return confirm('Are you sure you want to log out?')">logout</a> |
		</nav>
		<main>
			{% block content %}{% endblock content %}
		</main>
	</body>
</html>
