{% extends "base" %}
{% block title %}Submissions{% endblock title %}
{% block content %}
{% for sub in submission_list %}
	<hr>
	<a href="/submission/{{sub.submission_id}}">{{sub.user}} - {{sub.problem_id}} - {{sub.state}} - {{sub.time}}</a>
{% endfor %}
{% endblock content %}
