<!DOCTYPE html>
<html>
	<head>
		<title>submission details</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<nav>
			<a href="/home">home</a> |
			<a href="/questions">questions</a> |
			<a href="/submissions">submissions</a> |
			<a href="/contest">contest</a> |
			<a href="/problems">problems</a> |
			<a href="/users">users</a>
		</nav>
		<hr>
		<p>state: {{state}}</p>
		<p>user: {{user}}</p>
		<p>problem: {{problem_id}}</p>
		<p>lang: {{lang}}</p>
		<textarea readonly="readonly">{{code}}</textarea>
		{% if evaluation %}
		<p>compilation: {{evaluation.compilation_outcome}} {{evaluation.compilation_secs}}s {{evaluation.compilation_bytes}}b {{evaluation.compilation_error}}</p>
		<p>{{evaluation.overall_score}}</p>
		<details>
			<summary>testcases</summary>
			{% for sr in evaluation.subtask_results %}
			<details>
				<summary>Subtask {{sr.n}}: {{sr.score}}</summary>
				{% for tr in sr.testcase_results %}
				<p>{{tr.verdict}} {{tr.outcome}}</p>
				{% endfor %}
			</details>
			{% endfor %}
		</details>
		{% endif %}
	</body>
</html>
