{% extends "base" %}
{% block title %}Users{% endblock title %}
{% block content %}
<hr>
<form action="/form/set_user" method="post" enctype="multipart/form-data">
	<input type="text" name="username"><br>
	<input type="text" name="fullname"><br>
	<input type="password" name="password"><br>
	<input type="submit" value="update">
</form>
{% endblock content %}
